<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
    <h1>{{titulo}}</h1>

    <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
        <div *ngIf="artistAddMessage">
            <div class="alert alert-info">
                {{artistAddMessage}}
            </div>
        </div>
        <div *ngIf="artistEditMessage">
            <div class="alert alert-info">
                {{artistEditMessage}}
            </div>
        </div>
        <p>
            <label>Nombre</label>
            <input class="form-control" type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required />
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio.
            </span>
        </p>
        <p>
            <label>Descripción</label>
            <textarea class="form-control" #description="ngModel" name="description" [(ngModel)]="artist.description" required></textarea>
            <span *ngIf="!description.valid && description.touched">
                La descripción es obligatoria.
            </span>
        </p>

        <div *ngIf="is_edit">
            <div class="artist_image_for_edit" *ngIf="artist.image && artist.image != 'null'">
                <img src="{{url + 'get-image-artist/' + artist.image}}" />
            </div>
            <p>
                <label>Imagen del artista</label>
                <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
            </p>
        </div>

        <input class="btn btn-success" type="submit" value="{{titulo}}" [disabled]="!formArtist.form.valid" />
    </form>
</div>
<div class="col-lg-6" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
    <h1>Error</h1>
    <p>Acceso no autorizado</p>
</div>