<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
    <h1>{{titulo}}</h1>

    <form #formSong="ngForm" (ngSubmit)="onSubmit()">
        <div *ngIf="songAddMessage">
            <div class="alert alert-info">
                {{songAddMessage}}
            </div>
        </div>
        <div *ngIf="songEditMessage">
            <div class="alert alert-info">
                {{songEditMessage}}
            </div>
        </div>
        <p>
            <label>Número</label>
            <input type="number" class="form-control" #number="ngModel" name="number" [(ngModel)]="song.number" required />
            <span *ngIf="!number.valid && number.touched">
                El número de la canción es obligatorio.
            </span>
        </p>
        <p>
            <label>Nombre</label>
            <input class="form-control" type="text" #name="ngModel" name="name" [(ngModel)]="song.name" required />
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio.
            </span>
        </p>
        <p>
            <label>Duración</label>
            <input class="form-control" type="text" #duration="ngModel" name="duration" [(ngModel)]="song.duration" required />
            <span *ngIf="!duration.valid && duration.touched">
                La duración es obligatoria.
            </span>
        </p>

        <div *ngIf="is_edit">
            <div class="song_file_for_edit" *ngIf="song.file && song.file != 'null'">
                <audio controls>
                    <source src="{{ url + 'get-file-song/' + song.file }}" type="audio/mpeg" />
                        Tipo de archivo no soportado
                </audio>
            </div>
            <p>
                <label>Archivo de música</label>
                <input type="file" placeholder="Subir canción" (change)="fileChangeEvent($event)" />
            </p>
        </div>
        
        <input class="btn btn-success" type="submit" value="{{titulo}}" [disabled]="!formSong.form.valid" />
    </form>
</div>
<div class="col-lg-6" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
    <h1>Error</h1>
    <p>Acceso no autorizado</p>
</div>